<mat-toolbar color="primary">
  <a [routerLink]="['/login']" mat-button aria-label="Menu">
    <img src="../../../assets/images/ptit.png" width="36" height="36" />
  </a>

  <a *ngIf="!isLoggedIn" [routerLink]="['/login']">
    <span>ExamPortal</span>
  </a>
  <a *ngIf="isLoggedIn">
    <span>ExamPortal</span>
  </a>
  <span class="example-spacer"></span>

  <!-- Avatar user -->
  <button *ngIf="isLoggedIn && user" [routerLink]="profileLink" mat-button class="fs-7 d-flex align-items-center gap-2">
    <img
      [src]="avatarUrl"
      width="42"
      height="42"
      class="rounded-circle border-2 border-white avatar-gradient mx-1"
      alt="avatar"
    />
    {{ user.username }}
  </button>

  <!-- Auth buttons -->
  <a *ngIf="!isLoggedIn" [routerLink]="['/login']" mat-button class="fs-7">Đăng nhập</a>
  <a *ngIf="!isLoggedIn" [routerLink]="['/signup']" mat-button class="mx-3 fs-7">Đăng ký</a>

  <!-- Logout -->
  <a (click)="logout()" *ngIf="isLoggedIn" mat-button class="mx-3 mt-1">
    <i class="bi bi-box-arrow-right fs-4"></i>
  </a>
</mat-toolbar>
