<mat-toolbar color="primary">
  <a [routerLink]="['/login']" mat-button aria-label="Menu">
    <img matListIcon src="../../../assets/images/ptit.png" width="36" height="36" />
  </a>

  <a *ngIf="!isLoggedIn" [routerLink]="['/login']">
    <span>ExamPortal</span>
  </a>
  <a *ngIf="isLoggedIn">
    <span>ExamPortal</span>
  </a>
  <span class="example-spacer"></span>

  <button *ngIf="isLoggedIn && user" [routerLink]="profileLink" mat-button class="fs-7">
    {{ user.username }}
  </button>

  <a *ngIf="!isLoggedIn" [routerLink]="['/login']" mat-button class="fs-7">Đăng nhập</a>
  <a *ngIf="!isLoggedIn" [routerLink]="['/signup']" mat-button class="mx-3 fs-7">Đăng ký</a>

  <a (click)="logout()" *ngIf="isLoggedIn" mat-button class="fs-7 mx-3">Đăng xuất</a>
</mat-toolbar>
