<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <button class="btn btn-outline-secondary me-3" [routerLink]="['/admin/department', departmentId, 'subjects']">
        <i class="bi bi-arrow-left me-1"></i> Quay lại
      </button>
      <h2 class="d-inline-block mb-0">Quản lý Môn học</h2>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Quizzes">
      <app-quiz [subjectId]="subjectId" [departmentId]="departmentId"></app-quiz>
    </mat-tab>

    <mat-tab label="Câu hỏi Ôn tập">
      <app-practice-question-tab [subjectId]="subjectId" [departmentId]="departmentId"></app-practice-question-tab>
    </mat-tab>

    <mat-tab label="Câu hỏi Thi cử">
      <app-exam-question-tab [subjectId]="subjectId" [departmentId]="departmentId"></app-exam-question-tab>
    </mat-tab>
  </mat-tab-group>
</div>