<div class="container mt-4" *ngIf="ready">
  <h2 class="mb-3">Chi tiết môn học</h2>

  <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event.index)">
    <mat-tab label="Quizzes">
      <app-quiz [subjectId]="subjectId" [departmentId]="departmentId"></app-quiz>
    </mat-tab>

    <mat-tab label="Câu hỏi Ôn tập">
      <app-practice-question-tab [subjectId]="subjectId" [departmentId]="departmentId"></app-practice-question-tab>
    </mat-tab>

    <mat-tab label="Câu hỏi Thi cử">
      <app-exam-question-tab [subjectId]="subjectId" [departmentId]="departmentId"></app-exam-question-tab>
    </mat-tab>
  </mat-tab-group>
</div>
