<div class="sidebar-container" [class.collapsed]="isCollapsed">
  <button mat-icon-button class="toggle-btn" (click)="onToggleSidebar()"
    [matTooltip]="isCollapsed ? 'Expand sidebar' : 'Collapse sidebar'">
    <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>

  <mat-card class="sidebar-card">
    <mat-nav-list>
      <div mat-subheader *ngIf="!isCollapsed" class="fs-4 fw-bold">Menu</div>

      <a mat-list-item [routerLink]="to('')" routerLinkActive="active" [matTooltip]="isCollapsed ? 'Home' : ''"
        [matTooltipDisabled]="!isCollapsed">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine *ngIf="!isCollapsed">Trang chủ</span>
      </a>

      <a *ngIf="showUserManagement" mat-list-item [routerLink]="to('user-management')" routerLinkActive="active"
        [matTooltip]="isCollapsed ? 'User Management' : ''" [matTooltipDisabled]="!isCollapsed">
        <img matListIcon src="assets/images/management.png" width="24" height="24" />
        <span matLine class="mx-2" *ngIf="!isCollapsed">Danh sách giảng viên</span>
      </a>

      <a *ngIf="showDepartment" mat-list-item [routerLink]="to('department')" routerLinkActive="active"
        [matTooltip]="isCollapsed ? 'Department Management' : ''" [matTooltipDisabled]="!isCollapsed">
        <img matListIcon src="assets/images/university.png" width="24" height="24" />
        <span matLine class="mx-2" *ngIf="!isCollapsed">{{ manageDepartment }}</span>
      </a>

      <a *ngIf="showMySubject" mat-list-item [routerLink]="to('subjects')" routerLinkActive="active"
        [matTooltip]="isCollapsed ? 'My Subject' : ''" [matTooltipDisabled]="!isCollapsed">
        <img matListIcon src="assets/images/book.png" width="24" height="24" />
        <span matLine class="mx-2" *ngIf="!isCollapsed">Quản lý học phần</span>
      </a>

      <ng-container *ngIf="showArchive">
        <a mat-list-item (click)="!isCollapsed && (archiveOpen = !archiveOpen)" [class.clickable]="!isCollapsed"
          [matTooltip]="isCollapsed ? 'Archive File' : ''" [matTooltipDisabled]="!isCollapsed">
          <mat-icon matListIcon>folder</mat-icon>
          <span matLine *ngIf="!isCollapsed">Kho đề</span>
          <mat-icon matListIcon *ngIf="!isCollapsed">{{ archiveOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </a>

        <div class="submenu" *ngIf="archiveOpen && !isCollapsed">
          <a mat-list-item [routerLink]="to('archive','all')" routerLinkActive="active" class="submenu-item">
            <span matLine>Tất cả</span>
          </a>
          <a mat-list-item [routerLink]="to('archive','imports')" routerLinkActive="active" class="submenu-item">
            <span matLine>File tải lên</span>
          </a>
          <a mat-list-item [routerLink]="to('archive','exports')" routerLinkActive="active" class="submenu-item">
            <span matLine>File tải về</span>
          </a>
          <a mat-list-item [routerLink]="to('archive','answers')" routerLinkActive="active" class="submenu-item">
            <span matLine>File đáp án</span>
          </a>
          <a mat-list-item [routerLink]="to('archive','submissions')" routerLinkActive="active" class="submenu-item">
            <span matLine>File đã nộp</span>
          </a>
          <a mat-list-item [routerLink]="to('archive','pending')" routerLinkActive="active" class="submenu-item">
            <span matLine>File chờ duyệt</span>
          </a>
          <a mat-list-item [routerLink]="to('archive','history')" routerLinkActive="active" class="submenu-item">
            <span matLine>Lịch sử</span>
          </a>
        </div>
      </ng-container>

      <a *ngIf="showTasks" mat-list-item [routerLink]="to('tasks')" routerLinkActive="active"
        [matTooltip]="isCollapsed ? 'Tasks' : ''" [matTooltipDisabled]="!isCollapsed">
        <mat-icon matListIcon>assignment</mat-icon>
        <span matLine *ngIf="!isCollapsed">Giao nhiệm vụ</span>
      </a>

      <ng-container *ngIf="hasAnyGuide">
        <a mat-list-item (click)="!isCollapsed && (guideOpen = !guideOpen)" [class.clickable]="!isCollapsed"
          [matTooltip]="isCollapsed ? 'Hướng dẫn' : ''" [matTooltipDisabled]="!isCollapsed">
          <mat-icon matListIcon>help</mat-icon>
          <span matLine *ngIf="!isCollapsed">Hướng dẫn</span>
          <mat-icon matListIcon *ngIf="!isCollapsed">{{ guideOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
        </a>

        <div class="submenu" *ngIf="guideOpen && !isCollapsed">
          <a mat-list-item *ngIf="showGuideGeneral" [routerLink]="to('guide','overview')" routerLinkActive="active"
            class="submenu-item">
            <span matLine>Tổng quan</span>
          </a>

          <a mat-list-item *ngIf="showUserManagement" [routerLink]="to('guide','user-management')"
            routerLinkActive="active" class="submenu-item">
            <span matLine>Danh Sách Giảng viên</span>
          </a>

          <a mat-list-item *ngIf="showGuideDepartment" [routerLink]="to('guide','department')" routerLinkActive="active"
            class="submenu-item">
            <span matLine>Quản lý Học Phần</span>
          </a>

          <a mat-list-item *ngIf="showGuideSubject" [routerLink]="to('guide','subject')" routerLinkActive="active"
            class="submenu-item">
            <span matLine>Quản lý môn học</span>
          </a>
          <a mat-list-item *ngIf="showGuideQuestion" [routerLink]="to('guide','question')" routerLinkActive="active"
            class="submenu-item">
            <span matLine>Quản lý ngân hàng</span>
          </a>
          <a mat-list-item *ngIf="showGuideFile" [routerLink]="to('guide','file')" routerLinkActive="active"
            class="submenu-item">
            <span matLine>Quản lý Kho đề</span>
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-card>
</div>