<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row" style="margin-top: 1em;">
            <div class="sidebar-col" [class.collapsed]="isSidebarCollapsed">
                <app-sidebar 
                    [base]="'user-dashboard'" 
                    [showUserManagement]="false" 
                    [showDepartment]="false" 
                    [showMySubject]="true" 
                    [showArchive]="true"
                    [showGuideGeneral]="true"
                    [showGuideQuestion]="true"
                    [showGuideFile]="true"
                    [isCollapsed]="isSidebarCollapsed"
                    (toggleSidebar)="onSidebarToggle($event)">
                </app-sidebar>
            </div>
            <div class="content-col" [class.expanded]="isSidebarCollapsed">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>